/* Design for my home page*/

/* FONTS: */

h1{
    font-family: 'Noto Sans Mono', sans-serif;
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: rgb(50,173,230);
}

p{
    font-family: 'Noto Sans Mono', sans-serif;
    text-align: center;
    font-size: larger;
    color:rgb(255, 255, 255);
    background-color: rgb(50,173,230);
}


/* AREAS OF THE PAGE */

body{
    background-color: rgb(50,173,230);
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }




/* BUTTONS */

.link{
    background-color: rgb(50,173,230);

    padding:10px;
    
    border:2px;
    border-color: rgb(255,45,85);
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:rgb(255,255,255);
    text-decoration: none;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    border: 5px;
    border-color: black;
    border-style: solid;
    margin: auto;
}

.link:hover{

    background-color: rgb(0,122,255);

    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}