@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  /*font*/

  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen,
    Ubuntu, 
    Cantarell, 
    "Open Sans", 
    "Helvetica Neue", 
    sans-serif;
  padding: 0;
  background-color: rgb(209,209,214);
  margin: 0;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.title-bar{
  position: absolute;
  top:0%;
 margin: auto;
  padding:2px 65px;
  width:40%;
  margin: 0;
  background-color: rgb(209,209,214); 
  height: auto;
  line-height: 0;

  }

.title-bar h1{ 
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px;
  }

.title-bar p{ 
    font-size: 25px;
    font-weight: bold;
    margin: 50px;
    color: rgb(255,45,85);
    white-space: nowrap;
}



canvas {
  width: 100%;
  height: 100%;
}

h1, h2, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.chart{
    display:block;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(209,209,214);
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255,45,85);
    flex:1;
    margin: auto;
  }

  .chart:hover {
    
    transform: scale(1.04, 1.04);
    transition: 0.6s;
    
  }

  .project{
    margin: auto;
    max-width: 600px;
    background-color: rgb(209,209,214);
  
  }

.chart-container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .chart-container {
    display: block;
    width: 100%;
  }
}

.navtop {
  position:relative;
  background-color: rgb(58, 58, 60);
  margin-right: 0;
  overflow: hidden;
  font-family: 'Open', sans-serif;
  border-bottom:1px solid white;
  opacity: 100%;
  color:white;
}

.navtop a {
  float: right;
  color: rgb(226, 226, 226);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navtop a:hover {
  background-color: rgb(226, 226, 226);
  color: black;
}